h1{
	text-align: left;
	font-size: 20px;
}

h4{
  color:red;
  text-align: left;
  font-size: 10px;
}

p{
	text-align: left;
	font-size: 15px;
}

.duree_video {
    font-size: 7pt;
    text-align: left;
    padding-bottom: 20px;
    color: grey;
}

td{
	font-size: 10px;
}